@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.logo-title{
    display: flex;
    align-items: center;
    gap: 13px;
}
.title{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 560;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.menubar ul{
    display: flex;
    gap: 26px;
}
.menubar li{
    list-style: none;

}
.menubar a{
    text-decoration: none;
}
.menu{
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 560;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
#home{
    color: rgb(254, 163, 1);
}
#about{
    color: rgb(1, 172, 253);
}
#facilities{
    color: rgb(5, 212, 223);
}
#admission{
    color: rgb(93, 88, 239);
}
.btn{
    border-radius: 10px;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 480;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 35px;
}
.btn a{
    text-decoration: none; 
}
.btn-1{
    background: rgb(254, 163, 1);
}
.btn-2{
    background: rgb(17, 17, 17);
}
#btn{
    color: rgb(255, 255, 255);
}
.menu-btn{
    display: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
}
.banner-description{
    width: 50%;
}
.banner h2{
    font-family: Quicksand;
    font-size: 45px;
    font-weight: 560;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
}
.banner p{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0;
}
.curriculum{
    background: url(assets/bg.png);
    margin: 15px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 48px 0 20px 0;
}
.curriculum-box{
    display: flex;
    gap: 23px;
}
.curriculum-title h2{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 37px;
    font-weight: 560;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 0.8px solid rgb(222, 245, 255);
    border-radius: 16px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 52px 32px;
    flex: 1;
    text-align: center;
}
.box-1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box h3{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 560;
    line-height: 25px;
    letter-spacing: 0%;
    margin: 27px;
}
.box p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
}
.box img{
    width: 105px;
    height: 90px;
}
.box a{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 560;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}
#box-1{
    color: rgb(100, 200, 255);
}
#box-2{
    color: rgb(240, 170, 0);
}
#box-3{
    color: rgb(135, 0, 255);
}
.scroll-btn{
    display: flex;
    gap: 10px;
}
.scrl-btn{
    border-radius: 24px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 720;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 18px;
}
.stories{
    background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 140px 160px 140px;
}
#story-title{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 37px;
    font-weight: 560;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    margin: 64px 0;
}
.story-cards{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
}
.top-card{
    width: 540px;
}
.mini-card{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 16px;
}
.mini-card > .card{
    max-width: 290px;
    max-height: 300px;
}
.card{
    border-radius: 13px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.card img{
    width: 100%;
    border-radius: 13px 13px 0px 0px;
}
.top-card h3{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px 80px 20px 31px;
}
.top-card p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 35px 27px 31px;
}
.top-card img{
    width: 100%;
    height: 380px;
}
.mini-card h3{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 5% 18% 5%;
}
.card-btn{
    border-radius: 20px;
    position: relative;
    z-index: 1;
    left: -25px;
    top: -28px;
    padding: 5px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.top-btn{
    left: -160px;
    background: rgb(60, 216, 232);
}
#card-btn-1{
    background: rgb(149, 178, 38);
}
#card-btn-2{
    background: rgb(93, 88, 240);
}
#card-btn-3{
    background: rgb(93, 88, 240);
}
#card-btn-4{
    background: rgb(93, 88, 240);
}
.footer{
    background: rgb(1, 172, 253);
    display: flex;
    justify-content: space-between;
    padding: 100px 182px 140px 112px;
}
.section-1{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 40%;
}
.kids-edu{
    display: flex;
    align-items: center;
}
.kids-edu h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 30px;
    font-weight: 560;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.edu-plan p{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 7px;
}
.about-school h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 560;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.hafa li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.m-link{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.social-media{
    display: flex;
    gap: 8px;
}
.kit h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 560;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
@media screen and (max-width: 576px){
    .navbar{
        border-bottom: 2px solid orange;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .title, .menubar, .contact-btn{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .logo img{
        width: 80%;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .banner-description{
        width: 100%;
        text-align: center;
    }
    .banner-description h2{
        margin-top: 10px;
        text-align: center;
        font-size: 35px;
        font-weight: 560;
        line-height: 49px;
    }
    .banner-description p{
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    .curriculum{
        margin: 0;
        padding: 20px 15px 10px 15px;
    }
    .curriculum-box{
        flex-direction: column;
    }
    .box{
        width: auto;
        padding: 10 10px;
    }
    .scrl-btn{
        display: none;
    }
    .stories{
        padding: 30px 15px;
        margin: 0;
    }
    .top-card{
        display: none;
    }
    .mini-card > .card{
        height: 240px;
    }
    .card-btn{
        left: -15px;
    }
    .card h3{
        font-size: 12px;
    }
    .footer{
        flex-direction: column;
        gap: 15px;
        padding: 53px 10px 48px 16px;
        margin-bottom: 0;
    }
    .section-1{
        width: 100%;
    }
}